/* general */
* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 80%;
  margin: auto;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.centering {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* /general */

/* typo */
a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

p {
  color: #7f7f7f;
  font-size: 16px;
  margin-top: 20px;
}

h1 {
  color: #fff;
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 50px;
}

h3 {
  font-size: 23px;
  font-weight: 500;
  color: #7cbb02;
}
/* /typo */

/* button */
a.link {
 background-color: #7cbb02;
 border-radius: 5px;
}

a.link.login {
  border: 1px solid #fff;
  background-color: transparent;
  padding: 10px 20px;
  margin-right: 15px;
}

a.link.big {
  padding: 20px;
  font-size: 15px;
}
/* /button */

/* header */
header, .hero {
  background-color: #0c325a;
}

header {
  padding: 20px;
}

header .container {
  position: relative;
}

/* logo */
.logo {
  width: 13%;
}

.logo img {
  width: 90%;
}

header .container * {
  display: inline-block;
  vertical-align: middle;
}

/* navs */
.navs {
  padding-top: 1%;
}
/* /navs*/

/* main nav */
nav ul a {
  display: inline-block;
  font-size: 12px;
  padding: 10px;
}

nav ul:first-child {
  padding-left: 0;
}

nav li {
  list-style: none;
  display: inline-block;
}
/* /main nav */

/* secondary-nav */
.secondary-nav {
  position: absolute;
  right: 0;
}
/* /secondary-nav */
/* /header */

/* hero */
.hero {
  background-image: url("../img/background-header.png");
  height: 480px;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: right bottom;
  position: relative;
}

.hero-heading {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
/* /hero */

/* payoff */
.payoff {
  height: 150px;
  text-align: center;
  background-color: #d3d3d3;
  position: relative;
}

.payoff h3 {
  color: black;
}
/* /payoff */

/* icon */

section.icon {
  margin: 60px 0;
}
.icon .item {
  width: calc(100%/3);
  float: left;
  text-align: center;
  padding: 0 20px;
}

.item > img {
  height: 150px;
}

.item h3 {
  margin: 30px 0 20px;
}

.item hr {
  width: 20%;
  margin: auto;
  color: #7f7f7f;
}

hr {
  width: 95%;
  margin: auto;

}
