/* general */
* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 80%;
  margin: auto;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.separator {
  width: 95%;
  margin: auto;
}
/* /general */

/* typo */
a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
}

p {
  color: #7f7f7f;
  font-size: 16px;
  margin-top: 20px;
}

h1 {
  color: #fff;
  font-size: 45px;
  font-weight: 500;
  margin-bottom: 30px;
  width: 60%;
}

h2 {
  font-weight: 500;
  font-size: 28px;
}

h3 {
  font-size: 23px;
  font-weight: 500;
}
/* /typo */

/* button */
.btn {
  display: inline-block;
  color: #fff;
  padding: 7px 12px;
  min-width: 80px;
  border-radius: 5px;
  font-size: 12px;
  text-align: center;
}

.btn-big {
  padding: 20px;
  font-size: 14px;
}

.btn-bordered {
  border: 1px solid #fff;
}

.btn-green {
  background-color: #7cbb02;
}
/* /button */

/* header */
header, #hero {
  background-color: #0c325a;
}

header {
  padding: 20px;
}

/* logo */
.logo {
  width: 15%;
}

.logo img {
  width: 90%;
  padding-bottom: 10px;
}

header .container * {
  display: inline-block;
  vertical-align: middle;
}

/* main nav */
.main-nav {
  width: 45%;
}

header li {
  list-style: none;
  display: inline-block;
}

header li:not(:last-child) {
  margin-right: 15px;
}
/* /main nav */

/* secondary-nav */
.secondary-nav {
  text-align: right;
  width: 40%;
}
/* /secondary-nav */
/* /header */

/* section */
section {
  padding: 50px 0;
}

/* hero */
#hero {
  background-image: url("../img/background-header.png");
  height: 480px;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: 110% 100%;
  position: relative;
}

.hero-heading {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
/* /hero */

/* payoff */
#payoff {
  text-align: center;
  background-color: #d3d3d3;
}
/* /payoff */

/* icon */
#icon .item {
  width: calc(100%/3);
  float: left;
  text-align: center;
  padding: 0 20px;
}

.item > img {
  height: 150px;
}

.item h3 {
  margin: 30px 0 20px;
  color: #7cbb02;
}

.item hr {
  width: 20%;
  margin: auto;
  border: 1px solid #7f7f7f;

}
/* /icon */

/* level */
#level .container * {
  float: left;
}

.level-cols {
  width: 50%;
  padding: 0 7%;
}

.link {
  color: #306bad;
  text-decoration: underline;
  text-transform: none;
  margin-top: 30px;
}
/* /level */
